/*основной цвет #212121;*/
/*цвет акцент(кнопка, web,) #2196F3;*/
/*цвет studio #000000, 100 %*/
/*цвет текста #757575;*/
/*цвет фона баннера (герой) и подвала #2F303A*/
/*цвет фона под фото и заголовка баннера  #FFFFFF*/
/*цвет фона сек наша команда  #F5F4FA*/

html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

:root{
  --main-text-color:#212121;
  --accent-color:#2196F3; 
  --text-color:#757575 ;
  --main-title-color: #FFFFFF;
  --studio-color--:#000000;
  --footer-hero-color:#2F303A;
  --background-color:#F5F4FA ;
  --contact-color:rgba(255, 255, 255, 0.6);
  --border-bottom-color:#ECECEC;
  --border-card-color:#eeeeee;
  }

body{
  background-color:var(--main-title-color);
  color:var(--main-text-color);
  font-family: Roboto,OpenSans;
  letter-spacing: 0.03em
  }

a{
  text-decoration:none;
  display: block;
}

ul {
  list-style:none ;
  margin: 0;
  padding: 0;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
 } 
  
.container{

 margin-left: auto;
 margin-right: auto;
 width: 1200px;
 padding-left: 15px;
 padding-right: 15px;
}

/* HEADER */
.header{
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--border-bottom-color); 
} 

.header-main{
  display: flex;
  align-items: center;
}
.menu-nav{
  display: flex;
}
.menu-nav > a{
  margin-right: 93px;
} 

   /*logo*/
.web{
    display: inline-block;
  
    color: var(--accent-color);
    font-family: Raleway,OpenSans;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
  }

.studio{
 
  color: var(--studio-color--);
  font-family:Raleway, OpenSans;
  font-weight: 700;
  font-size: 26px;
  line-height:1.2;
 }

/*site-nav list*/
.site-nav{
  display: flex;
  
}
.site-nav li + li{
margin-left: 50px ;
}

.site-nav .link{
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  }
  .link{
    padding-top: 8px;
    padding-bottom: 8px;
  }
 

.site-nav .link:hover,
.site-nav .link:active,
.site-nav .link.current,
.auth-nav .contact:hover,
.auth-nav .contact:focus{
  color: var(--accent-color);
}

/*auth-nav list*/
.auth-nav{
  display: flex;
  margin-left: auto;
  
}
.auth-nav li + li{
  margin-left: 50px;
}
.contact{
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
} 
.envelope::before{
  display: inline-block;
  content: "";
 
  width: 16px;
  height: 12px;
  background-color: var(--text-color#757575 );
}



       /*MAIN*/

/*section hero (баннер)*/
.section-hero{
  padding-top: 200px;
  padding-bottom: 200px;
  background-color:var(--footer-hero-color);
  text-align: center;
}
.big-banner{
  max-width: 100%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image:linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
  url("../images/hero.jpg");;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.maim-title{
   
  margin: auto;
  margin-bottom: 30px;
 width: 696px;
  
  color: var(--main-title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
 .big-button{
  border: 4px solid transparent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
   
  background-color: var(--accent-color);
  color: var(--main-title-color);
  font-family: Roboto,OpenSans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  padding:10px 32px 10px 32px;
  }

/*section Почему именно мы*/
.section-title{
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantage{
  display: flex;
 }

.advantage li + li{
  margin-left: 30px;
}
.advantage li{
 width: 270px ;
}

.advantage-item::before{
  display: block;  
  content:"" ;
  height: 120px;
  margin-bottom: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-color);
}

.icon-antenna::before{
  background-image: url("../images/icon/antenna\ 1.svg");
  background-size: 70px;
}

.icon-clock::before{
  background-image: url("../images/icon/clock\ 1.svg");
  background-size: 70px;
}

.icin-diagram::before{
  background-image: url("../images/icon/diagram\ 1.svg");
  background-size: 70px;
}

.icon-astronaut::before{
  background-image: url("../images/icon/astronaut\ 1.svg");
  background-size: 70px;
}
.small-title{
  color: var(--main-text-color);
  margin-top: 0;
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  }

.secion-text{
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.7;
}

/* section Чем мы занимаемся*/
.section-doing{
  padding-bottom: 94px;
}
.title{
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
  
.big-img{
  display: flex;
}
 
.big-img li + li{
margin-left: 30px;
}
/*section Наша команда */

.section-command{
  padding-top: 94px;
  padding-bottom: 94px;
  background-color:var(--background-color);
}

.employees{
  display: flex;

}
.employees li{
  width: 270px;
  
  background: var(--main-title-color);
  
  
  box-shadow: 0px 1px 3px
  rgba(0, 0, 0, 0.12), 
  0px 1px 1px rgba(0, 0, 0, 0.14), 
  0px 2px 1px rgba(0, 0, 0, 0.2);
}

.employees li + li{
  margin-left: 30px;
  
}
.desc{
  padding: 30px;
  border-right-width: 1px ;
  border-right-style: solid ;
  border-right-color: var(--border-card-color);
  
  border-left-width: 1px;
  border-left-style: solid ;
  border-left-color: var(--border-card-color);
  
  border-bottom-width: 1px ;
  border-bottom-style: solid;  
  border-bottom-color: var(--border-card-color);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}

.name {
  margin-top: 0px;
  margin-bottom: 10px;
  
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.profession{
  margin: 0;

  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
/*Постоянные клиенты*/
.clients{
  display: flex;
}
.clients li + li{
margin-left: 30px;
}

.clients-link a{
   
   width: 170px;
   height: 90px;
   border: 1px solid #AFB1B8;
   box-sizing: border-box;
   border-radius: 4px;
}
.clients-link a:hover{
  border-color: #2196F3;
}

.clients-icon{
  width: 44px;
  height:  49px;

}

 /*FOOTER*/

.footer{

  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-hero-color);
} 

.footer-content{
  display: flex;
  align-items: baseline;
  padding-top: 61px ;
 
}
.content-link{
  margin-right: 70px;
}
.content-link > a{
  margin-bottom: 20px;
}
/*logo*/

.logo{
  display: inline-block;
  
  color: var(--main-title-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
  /*Адрес+контакты*/
  .info li + li{
    margin-top: 9px;
  }

.address{
  color: var(--main-title-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.phone-mail{
  color: var(--contact-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.phone-tel{
  color: var(--contact-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

/*Присоединяйтесь*/
.invoke{
  color: var(--main-title-color);
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  }

.social{
  display: flex;
}

.social li + li{
  margin-left: 10px;
}
.social-link {
  
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  background-image: url();
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
}

.social-list a:hover{
  background-color: var(--accent-color);
}
/*ПОРТФОЛИО*/

/* section Категории*/

.category{
  padding-top: 94px;
  padding-bottom: 94px;
}


   /*Кнопки*/

.list-button{
  display: flex;
  justify-content: center;

  margin-bottom: 34px;

  min-width: 611px;
} 

.list-button li + li{
  margin-left: 8px;
}

.buttons{

border: 4px solid transparent;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
background:var(--background-color);

padding: 6px 22px;

color: var(--main-text-color);
font-family: Raleway, OpenSans; 
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
}

.buttons:hover{
  background-color: var(--accent-color);
  color: var(--main-title-color);
}

       /*Карточки*/

.portfolio{
  display: flex;
  flex-wrap: wrap;
}

.link-portfolio{
 width: 370px;

 margin-right: 30px;
 margin-bottom: 30px;

}
.link-portfolio:hover{
  box-shadow: 0px 1px 1px  
  rgba(0, 0, 0, 0.12), 
  0px 4px 4px rgba(0, 0, 0, 0.06), 
  1px 4px 6px rgba(0, 0, 0, 0.16);
  
}

.link-portfolio:nth-child(3n){
  margin-right: 0;
}
.link-portfolio:nth-last-child(-n+3){
  margin-bottom: 0;
}

.card{
  padding: 20px 23px;
  background: var(--main-title-color);

  border-right-width: 1px ;
  border-right-style: solid ;
  border-right-color: var(--border-card-color);

  border-left-width: 1px ;
  border-left-style: solid ;
  border-left-color: var(--border-card-color);

  border-bottom-width : 1px;
  border-bottom-style: solid ;
  border-bottom-color: var(--border-card-color);
}

.project{
  margin-top: 0px;
  margin-bottom: 4px;
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 2;
}
.work{
  margin: 0;
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}
